@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  background: #007bff;
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

section {
  min-height: 100vh;
  height: 100vh;
}
