@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #007bff;
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

section {
  min-height: 100vh;
  height: 100vh;
}

.light::before,
.light::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
}
.light::before {
  background: #007bff;
  box-shadow: 0 0 2px 1px #3291ff40;
  opacity: 1;
}
.light::after {
  background: #fff;
  opacity: 1;
  box-shadow: 0 0 2px 2px #007bff, 0 0 2px 1px #3291ff40;
}

@media screen and (min-width: 1920px) {
  .light::before {
    background: #007bff;
    box-shadow: 0 0 2px 1px #3291ff40;
    opacity: 1;
  }
  .light::after {
    background: #fff;
    opacity: 1;
    box-shadow: 0 0 3px 3px #007bff, 0 0 2px 1px #3291ff40;
  }
}